.Project1_body{
    width: 100%;
    background-color: wheat;
}
.Project1_main{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Teammate_profile{
    width: 60%;
    background: linear-gradient(rgb(169, 169, 169),rgb(21, 55, 71));
    height:580px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 6%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
}
.Project1_main .box{
    width: 80%;
    height:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 5px;
}
.Teammate_profile .profile .profile_img{
    width: 60%;
    height: 60%;
    margin-bottom: 2%;
}
.Teammate_profile .profile_img img{
    object-fit: cover;
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.Teammate_profile .profiles{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Teammate_profile .profile{
    margin-top: 60px;
    position: relative;
    width: 35%;
    height: 470px;
    transition: all 0.2s;
}
.Teammate_profile .profile:hover{
    margin-top: 0;
}
.Teammate_profile .profile .profile_main{
    width: 0;
    font-size: 1.2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 25%;
    color: white;
    overflow: hidden;
    transition: width 0.3s ease-in-out ,color 0.2s ease-in-out 0.3s;
    background-color: white;
}
.Teammate_profile .profile .name_teammate{
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    transition: width 0.3s;
}
.Teammate_profile .profile:hover .name_teammate{
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.Teammate_profile .profile:hover .profile_main{
    width: 100%;
    color: black;
}
.Teammate_profile .profile .profile_main p{
    margin-bottom: 10px;
}
.Project1_main .box .Seminar .img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}
.Project1_main .box .Seminar .img img{
    width: 60%;
    object-fit: fill;
}
.Project1_main .box .Seminar .content_seminar{
    width: 90%;
    margin-left: 5%;
    font-size: 22px;
}
.Project1_main .box .Seminar .content_seminar .header{
    font-size: 25px;
    margin-top: 50px;
    width: 16%;
    margin-left: 43%;
    background-color: rgb(255, 137, 137);
    border-radius: 10px;
    text-align: center;
}
.Project1_main .box .Seminar .content_seminar .overview{
    width: 70%;
    background: rgb(255, 243, 218);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    padding-left:10px ;
    padding-bottom: 10px;
}
.Project1_main .box .Seminar .content_seminar .link{
    width: 70%;
    background: rgb(248, 248, 248);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    padding-left:10px ;
    padding-bottom: 10px;
}
.link a{
    text-decoration: none;
}
.Project1_main .box .Seminar .content_seminar .overview h4{
    margin-top: 10px;
    margin-left: 10px;
}
.Project1_main .box .Seminar .content_seminar .about h4{
    margin-top: 10px;
    margin-left: 10px;
}
.Project1_main .box .Seminar .content_seminar .background{
    width: 70%;
    background: rgb(21, 111, 83);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    padding-left:10px ;
    padding-bottom: 20px;
}
.Project1_main .box .Seminar .content_seminar .about{
    width: 70%;
    background: rgb(16, 44, 87);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    padding-left:10px ;
    padding-bottom: 20px;
}
.Project1_main .box .Seminar .content_seminar .small{
    margin-left: 30px;
    font-weight:400;
}
.se1{
    background: rgb(223, 204, 251);
}
.se2{
    background-color: pink;
}
.Project1_main .box .Seminar .content_seminar .fa-circle{
    font-size: 10px;
    margin-right: 20px;
}