*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}

.Roll{
    background-color: aliceblue;
    width: 13%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    margin-top: 20px;
    z-index: 100;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px ;
    transition: all 0.5s;
    transform: translateX(0%);
}
.Roll .bar{
    width:100%;
    font-size: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: aliceblue;
    text-align: right;
    cursor: pointer;
    padding-right: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: 25%;
    transition: all 0.5s;
}
.Roll .contain{
    padding-left: 30px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
.body_subtopic1 .fa-circle{
    font-size: 8px;
    margin-right: 4%;
}
.body_subtopic1 .fa-square{
    font-size: 8px;
    margin-right: 4%;
}
.Roll .contain a{
    width: 90%;
    text-decoration: none;
    color:black;
    text-align:left;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Roll .contain a:hover{
    color:rgb(1, 56, 138);
    background-color: rgb(160, 180, 180);
}
.body_subtopic1{
    width: 100%;
    height: 100%;
    background-color: bisque;
}
.body_subtopic1 h1{
    text-align: center;
}
.subtopic_1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_subtopic_1{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_subtopic_1 img{
    width: 30%;
    height: auto;
    object-fit: contain;
}

.main_subtopic_1{
    margin-top: 50px;
    width: 70%;
    font-size: 22px;;
    border: 5px solid rgb(97, 2, 2);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.main_subtopic_1 img{
    width: 70%;
    object-fit: cover;
    object-position: center;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main_subtopic_1 p{
    text-indent: 2em;
    color: black;
    font-weight: 200;
}

.main_subtopic_1 li{
    margin-left: 7%;
    margin-top: 10px;
}
.body_subtopic1 .content_3{
    list-style: decimal;
    text-indent: 30px;
}
.body_subtopic1 hr {
    width: 60%;
    height:3px;
    background-color: red; /* Thay đổi màu sắc ở đây */
    margin-left: 20%;
    color: red;
}
