* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* To stack the h2 elements vertically */
    margin: 4vh;
}

.header h2 {
    font-size: 6.5vh;
}

.content_about_us .subsubsection {
    font-size: 2.75vh;
}

.content_about_us strong {
    color:#FF914D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.75vh;
}

.content_about_us p {
    line-height: 1.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.75vh;
    word-break: break-all;
}

.content_about_us a {
    line-height: 1.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.75vh;
    word-break: break-all;
}

.content_about_us li {
    line-height: 1.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.75vh;
    word-break: break-all;
}

.aboutUs {
    color: #FFBD59;
    font-size: 6vh;
    margin: 2vh;
    font-weight: bold;
    text-align: center;
}

.projectBased {
    font-size: 6vh;
    background-color: #FFBD59;
    color: white;
    padding: 1.5vh;
    font-weight: bold;
    margin-bottom: 1.5vh;
    text-align: center;
    max-width: max-content;
}

.About_us p {
    font-family: 'Montserrat', sans-serif;
}


.body_About{
    background-color: white;
    width: 100%;
}
.body_About h1{
    text-align: center;
}
.About_us{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About_us_main{
    width: 80%;
    /* border: 5px solid orangered; */
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.head_about_us{
    margin-top: 10px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.head_about_us img{
    height:200px;
    width:50%;
}
.Tag{
    width: 50%;
    font-size: 22px;
    background-color: rgb(234, 189, 112);
    margin-top: 10px;
    text-align: center;
}
.content_about_us{
    position: relative;
    width: 80%;
    margin-top: 50px;
    font-size: 120%;
    margin-bottom: 100px;
}
.content_about_us h4{
    color:rgb(5, 117, 125);
    padding-left: 5%;
    margin-top: 30px;
}
#hr_about{
    width: 100%;
    border: 2px solid black; 
    border-color: rgb(158, 159, 165);
    margin-top: 20px; 
    margin-bottom: 20px;
}
.content_about_us li::before {
    content: "●";
    font-size: 120%; 
    font-weight: bold; 
    color: black; 
    position:absolute;
    transform: translateX(-400%);
  }

  .content_about_us li {
    margin-left: 10%;
    margin-top: 10px;
  }
.About_us .social{
    text-decoration: none;
    color:rgb(255, 47, 10)
}

@media screen and (max-width: 820px) {
    .content_about_us p {
        line-height: normal;
        word-break: break-all;
    }
    .content_about_us a {
        line-height: normal;
        line-break: break-all;
    }
    .content_about_us li {
        line-height: normal;
        word-break: break-all;
    }
    .content_about_us .social {
        line-height: normal;
        word-break: break-all;
    }
}