* {
    padding: 0;
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
  }
  
  .body_homepage {
    
    max-width: 100%;
    max-height: 80%;
    background-image: url(./Images/BackgroundHomepage.png);
    background-size: cover;
  }
  
  
  hr {
    background-color: orange;
    color: orange;
    border: 1px solid orange;
  }
  
  .b {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 50px;
  }
  .b button {
    font-size: 25px;
  }
  
  .body_homepage h1 {
    text-align: center;
  }
  
  #myImage {
    width: 500px;
    height: auto;
    margin-left: 40%;
  }
  .main_homepage{
    border:1px solid black;
    width: 100%;
    height:700px;
  }
  .main {
    position: relative;
    display: flex;
    border: 3px solid rgb(225, 13, 49);
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 75px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .gallery {
    height: 400px;
    display: flex;
    z-index: 1;
    position: absolute;
    transition: transform 0.5s ease-in-out;
  }
  .gallery img {
    width: 600px;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }
  .slide {
    width: 600px;
    height: 100%;
    z-index: 1;
    transition: opacity 1s;
  }
  .exchange {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .pre {
    width: 10%;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .next {
    width: 10%;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .next .next_btn {
    opacity: 0;
    font-size: 20px;
    margin: auto;
    color: #654bf5;
    background-color: rgba(240, 248, 255, 0.461);
    width: 25px;
  }
  .next:hover {
    background-color: rgba(128, 128, 128, 0.283);
  }
  .next:hover .next_btn {
    opacity: 1;
  }
  .pre .pre_btn {
    opacity: 0;
    font-size: 20px;
    margin: auto;
    color: #654bf5;
    background-color: rgba(240, 248, 255, 0.461);
    width: 25px;
  }
  .pre:hover {
    background-color: rgba(128, 128, 128, 0.283);
  }
  .pre:hover .pre_btn {
    opacity: 1;
  }
  
 