.SDGS_logo {
  background-image: url("../../Homepage/Images/logoSDGs.png");
  background-size: contain;
  border-radius: 50%;
  max-width: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin-left: 90%;
  z-index: 100;
  cursor: pointer;
}
