.SDGS_logo {
  background-image: url("../../Homepage/Images/logoSDGs.png");
  background-size: contain;
  border-radius: 50%;
  max-width: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  margin-top: 50px;
  margin-left: 90%;
  z-index: 2;
  cursor: pointer;
  transition: all 0.5s;
}
.SDGS_logo:hover{
  transform: scale(1.2);
}
