.Videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    /* background-color: #EEE5C2; */
}

.Videos>div {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 75%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
}

.Videos_body .header {
    width: 100%;
    height: 12vh;
    color: #FFBD59;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4vh;
    font-family: "Rowdies";
}

.meow {
    /* background-color: #EEE5C2; */
    width: 100%;
    height: 7vh;
}

.Videos .video-container {
    width: 65%;
    height: 90%;
    border-radius: 3vh;
}

.video-container {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #FFDE59, #FF914D);
    /* justify-content: center; */
    /* Make the video container taller */
}

.Videos .btn-container {
    width: 100%;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    /* height: 1000px; */
}

.btn-container .btnn {
    width: 30%;
    height: 250%;
    display: flex;
    justify-content: center;
    /* Center the button horizontally */
    align-items: center;
    /* Center the button vertically */
    border-radius: 30px;
    background: white;
    font-size: 2vh;
    color: #FF914D;
    margin-top: auto;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    border: 1px solid black;
    /* Push the button to the bottom of the container */
}

.btn-container .btnn:hover {
    background-color: #FFDE59;
    color: black;
}

.Videos .driveLink {
    width: 100%;
    height: 70%;
    /* Adjust the video height as needed */
    object-fit: cover;
    border: none;
}

/* Display the title below the video */
.video-container .title {
    font-size: 3vh;
    margin-top: 2vh;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .Videos {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
    .Videos {
        grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    }
}