.more_inf {
    position: relative;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
  }
  .btn_moreinf {
    width: 20%;
    height: auto;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(124, 157, 150);
  }
  .btn_moreinf:hover {
    background-image: linear-gradient(pink, rgb(161, 204, 209));
  }
  @keyframes hover-effect {
    0% {
      opacity: 1;
      left:0;
    }
    100% {
      opacity: 1;
      left:50px 
    }
  }
  .btn_moreinf .Project{
    background-color: #24262b;
    display: none;
    color:white;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width:200px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.btn_moreinf:hover .Project{
  display: flex;
}

.Project a {
  margin-top: 10px;
  margin-bottom: 5px;
  color:white;
  height: 40px;
  width: 40px;
  padding-top:3px ;
  background-color: rgba(183, 183, 183, 0.2);
  border-radius: 50px;
  transition: all 0.5s ease;
  position: relative; 
}

.Project a .mess{
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}
.Project .videos:hover{
  background-color: greenyellow;
  transform: translateX(-60px);
}
.videos:hover .mess{
  opacity: 1;
  animation: hover-effect 0.3s forwards;
}
.btn_moreinf .contact{
    background-color: #24262b;
    display: none;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width:200px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.btn_moreinf:hover .contact{
  display: flex;
}

.contact a {
  margin-top: 10px;
  margin-bottom: 5px;
  color:white;
  height: 40px;
  width: 40px;
  padding-top: 3px;
  background-color: rgba(183, 183, 183, 0.2);
  border-radius: 50px;
  transition: all 0.5s ease;
  position: relative; 
}

.contact a .mess {
  position: absolute;
  opacity: 0;
  height: 100%;
  color: whitesmoke;
  transition: all 0.5s ;
}

.contact a:hover .mess {
  left: 40px;
  animation: hover-effect 0.3s forwards; 
}
.contact .I:hover{
  background-color: #f62682;
  transform: translateX(-60px);
}
.contact .F:hover{
  background-color:rgb(48, 48, 237);
  transform: translateX(-60px);
}
