 .more_inf {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: max-content;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
  }
  .btn_moreinf {
    position: relative;
    margin-top: 15%;
    padding:10px;
    color: white;
    width: 20%;
    height: auto;
    font-size: 2vw;
    border-radius:10vh;
    background-color: #f14931;
  }
  .btn_moreinf:hover {
    background-image: linear-gradient(pink, rgb(161, 204, 209));
  }
  @keyframes hover-effect {
    0% {
      opacity: 1;
      left: 0%;
    }
    100% {
      opacity: 1;
      left: 130%;
    }
  }
  .btn_moreinf .Project{
    background-color: #24262b;
    display: none;
    color:white;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width:120%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.btn_moreinf:hover .Project{
  display: flex;
}

.Project a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 5px;
  color:white;
  height: 40px;
  width: 40px;
  padding-top:3px ;
  background-color: rgba(183, 183, 183, 0.2);
  border-radius: 50px;
  transition: all 0.5s ease;
  position: relative; 
}

.Project a .mess{
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}
.Project .videos:hover{
  background-color: greenyellow;
  transform: translateX(-130%);
}
.videos:hover .mess{
  opacity: 1;
  animation: hover-effect 0.3s forwards;
}
.btn_moreinf .contact{
  background-color: #24262b;
  display: none;
  color:white;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width:120%;
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px ;
}
.btn_moreinf:hover .contact{
  display: flex;
}

.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 5px;
  color:white;
  height: 40px;
  width: 40px;
  padding-top:3px ;
  background-color: rgba(183, 183, 183, 0.2);
  border-radius: 50px;
  transition: all 0.5s ease;
  position: relative; 
}

.contact a .mess {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

.contact a:hover .mess {
  left: 40px;
  animation: hover-effect 0.3s forwards; 
}
.contact .I:hover{
  background-color: #f62682;
  transform: translateX(-160%);
}
.contact .F:hover{
  background-color:rgb(48, 48, 237);
  transform: translateX(-160%);
}



@media screen and (max-width: 900px) {
 
  .btn_moreinf {
    width: max-content;
    font-size: 2vh;
  }
  .mess{
    opacity: 1;
  }
}
