*{
    padding: 0;
    margin: 0;
}

.container_search{
    width: 80%;
    position: absolute;
    top:3.3em;
    left: -0%;
    background-color: white;
    color:black;
    z-index: 10;
}
.container_search .products{
    width: 100%;
}
.container_search .products .p{
    width: 100%;
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.container_search .products p{
    padding: 10px;
    padding-left: 20px;
}

.container_search .products .p:hover p{
    color:rgb(37, 43, 72);
    background-color: rgb(91, 154, 139);
}
.container_search .products .p:hover .highlight{
    color: unset;
    font-weight: unset;
}
.highlight {
    color:red;
    font-weight: bold;
}
